#h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.parafo{
    font-family: 'Lato', sans-serif;
    color:red;
}
#margin {

    margin: 5%;
}
* {
    margin: 0;
    padding: 0;
}
.logo {
    display: grid;
    height: 100%;
}
.imgbox {
    display: grid;
    height: 100%;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 8px;
    size: 20vh;
}
.center-fit {
    width: 100%;
    max-height: 100%;
    margin: 0;
}
.bar {
    list-style-type: none;
    margin: 20;
    padding: 0;
    overflow: hidden;
  }
.lines {
    text-align: right;
    display: block;
    padding: 8px;
    color: #000000;
    float: right;
    padding: 14px 16px;
    font-size: 17px;
}