.parafo{
    font-family:  Arial, Helvetica, sans-serif;
    color:red;
}
* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}
